 <h2> MATERIAS </h2>
<ul class="materia">
    <li *ngFor="let materia of materias">
        <button [class.selected]="materia === selectedMateria" type="button" (click)="onSelect(materia)">
      <span class="badge">{{materia.id}}</span>
      <span class="name">{{materia.name}}</span>
    </button>
  </li>
</ul>
<div *ngIf="selectedMateria">
    <h2>Materia de {{selectedMateria.name | uppercase}}, Codigo de la materia {{selectedMateria.codigo}}, creditos para  {{selectedMateria.creditos}}</h2>
    <div>id: {{selectedMateria.id}}</div>
    <div>
      <label for="materia-name"> materia name: </label>
      <input id="materia-name" [(ngModel)]="selectedMateria.name" placeholder="name">
      <div>codigo: {{selectedMateria.codigo}}</div>
      <div>creditos: {{selectedMateria.creditos}}</div>
    </div>
  </div>